root = true

[*.cs]
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
charset = utf-8
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line:suggestion
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
