workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH'
    - if: '$CI_COMMIT_TAG'

variables:
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.jvmargs=-Xmx3g"

default:
  image: eclipse-temurin:21-jdk
  cache:
    key: "$CI_COMMIT_REF_SLUG-gradle"
    paths:
      - .gradle/wrapper
      - .gradle/caches
  before_script:
    - chmod +x gradlew
    - ./gradlew --version
  interruptible: true

stages:
  - quality
  - verify
  - maintenance
  - release

lint:
  stage: quality
  script:
    - ./gradlew lint --stacktrace
  artifacts:
    when: always
    paths:
      - build/reports/detekt
      - "*/build/reports/detekt"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH'
    - if: '$CI_COMMIT_TAG'

verify:
  stage: verify
  needs: ["lint"]
  script:
    - ./gradlew build koverXmlReport --stacktrace
  artifacts:
    when: always
    reports:
      junit:
        - "**/build/test-results/test/*.xml"
      coverage_report:
        coverage_format: cobertura
        path: build/reports/kover/xml/report.xml
    paths:
      - build/reports/kover
      - "*/build/reports/kover"
    expire_in: 1 week
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH'
    - if: '$CI_COMMIT_TAG'

dependency_maintenance:
  stage: maintenance
  script:
    - ./gradlew dependencyMaintenance --stacktrace
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: manual
    - if: '$CI_COMMIT_TAG'
      when: manual
    - when: never
  allow_failure: true

release:
  stage: release
  script:
    - ./gradlew assemble
  only:
    - tags
  artifacts:
    when: on_success
    paths:
      - build/libs
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_TAG'
